<template>
  <v-row class="mx-auto" style="width: 1000px;">
    <!-- <v-col cols="12" sm="10">
      <v-text-field v-model="userid" label="userid"></v-text-field>
    </v-col>

    <v-col cols="12" sm="2">
      <v-btn
        @click="
          page = 1
          retrieveCutomers()
        "
      >
        Search
      </v-btn>
    </v-col> -->

    <v-col cols="12" sm="12">
      <v-card>
        <v-card-title>Customer</v-card-title>
        <v-data-table
          :headers="headers"
          :items="customers"
          disable-pagination
          :hide-default-footer="true"
        >
          <template v-slot:[`item.actions`]="{item}">
            <!-- item in {} -->
            <v-btn elevation="2" @click="senduserid(item.displayname , item.userid)">Logs</v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-col>

    <v-col cols="12" sm="12">
      <v-pagination
        v-model="page"
        :length="totalPages"
        total-visible="7"
        next-icon="mdi-menu-right"
        prev-icon="mdi-menu-left"
        @input="handlePageChange"
      ></v-pagination>
    </v-col>
  </v-row>
</template>

<script>
import CustomerDataService from '../services/CustomerDataService'

export default {
  name: 'customers-list',
  data () {
    return {
      searchUserID: '',
      headers: [
        { text: 'Line Displayname', align: 'start', sortable: false, value: 'displayname', width: '500' },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      customers: [],
      page: 1,
      totalPages: 0,
      pageSize: 15,
      lineid:''
    }
  },

  methods: {
    getRequestParams (userid, page, pageSize) {
      let params = {}
      if (userid) {
        params['userid'] = userid
      }
      if (page) {
        params['page'] = page - 1
      }
      if (pageSize) {
        params['size'] = pageSize
      }
      return params
    },
    retrieveCustomers () {
      const params = this.getRequestParams(
        this.userid,
        this.page,
        this.pageSize
      )
      CustomerDataService.getAll(params)
        .then(response => {
          const { customers, totalPages } = response.data
          this.customers = customers.map(this.getDisplayCustomer)
          this.totalPages = totalPages
          console.log(response.data)
          console.log(localStorage.getItem('lineid'))
        })
        .catch(e => {
          console.log(e)
        })
    },
    functionreload(){
      this.$router.push('logsDescription')
    }
    ,
    senduserid(value1,value2){
      localStorage.removeItem('lineid')
      localStorage.removeItem('userid')
      localStorage.setItem('lineid', value1)
      localStorage.setItem('userid', value2)
      console.log(localStorage.getItem('lineid'))
      this.functionreload()
      
      
    },
    handlePageChange (value) {
      this.page = value
      this.retrieveCustomers()
    },
    handlePageSizeChange (size) {
      this.pageSize = size
      this.page = 1
      this.retrieveCustomers()
    },
    refreshList () {
      this.retrieveCustomers()
    },
    getDisplayCustomer (customer) {
      return {
        userid: customer.userid,
        displayname: customer.user
      }
    }
  },
  mounted () {
    
    this.retrieveCustomers()
  }
}
</script>

<style>
.list {
  max-width: 750px;
}
</style>
