<template>
  
  <v-row class="mx-auto" style="width: 1000px;">
    <v-col cols="12" sm="12">
      <v-row class="mx-auto">
      <v-col cols="10">
        <v-text-field v-model="message" label="message"></v-text-field>
      </v-col>
      <v-col cols="2">
        <v-btn @click="sendMessage()">send</v-btn>
        <!-- <v-btn @click="readdata()">send</v-btn> -->
      </v-col>
    </v-row>
      <v-card>
        <v-card-title></v-card-title>
        <v-btn class="float-right" elevation="2" to="/customers">Back</v-btn>


        <v-data-table
          :headers="headers"
          :items="logs"
          :items-per-page="10"
          :hide-default-footer="true"
          class= "elevation-1"
        >
          <template v-slot:[`item.actions`]="{}">
            <!-- <v-icon class="mr-2" @click="showDescription(item.user)"
              >mdi-eye</v-icon
            > -->
          </template>
        </v-data-table>
      </v-card>
    </v-col>

    <v-col cols="12" sm="12">
      <v-pagination
        v-model="page"
        :length="totalPages"
        total-visible="7"
        next-icon="mdi-menu-right"
        prev-icon="mdi-menu-left"
        @input="handlePageChange"
      ></v-pagination>
    </v-col>
  </v-row>
</template>

<script>
import LogDataService from '../services/LogDataService'
import {HTTP} from "@/axios.js"
// import { EventBus } from '../event-bus.js'

export default {
  name: 'log',
  data () {
    return {
      lineid: '',
      headers: [
        { text: 'Displayname', value: 'user', sortable: false, width: '100' },
        { text: 'Description', value: 'text', width: '500' },
        { text: 'DateTime', value: 'datetime', width: '150' },
        { text: 'Type', sortable: false, value: 'type', width: '50' }
      ],
      logs: [],
      page: 1,
      totalPages: 0,
      pageSize: 10,
      message: ""      
    }
  },
  methods: {
    getRequestParams (userid,page, pageSize) {
      let params = {}
      if (userid) {
        params['user'] = userid
      }
      if (page) {
        params['page'] = page - 1
      }
      if (pageSize) {
        params['size'] = pageSize
      }
      return params
    },
    sendMessage() {
     let text = this.message
     let userid = localStorage.getItem('userid')
     let displayName = localStorage.getItem('lineid')
      let obj ={
        id:userid, text:text,displayName:displayName
      }
      console.log('Send to Line')
      console.log(obj)
      HTTP.post("/sendtext/",obj)
      .then(res => {
        console.log(res)
      })
      .catch(e => {
        console.log(e);
      });
    },
    retrieveLogs () {
      const user = localStorage.getItem('lineid')
      const params = this.getRequestParams(
        user,
        this.page,
        this.pageSize,
        
      )
      console.log(user)
      LogDataService.getAll(params)
        .then(response => {
          const { logs, totalPages } = response.data
          this.logs = logs.map(this.getDisplayDiscription)
          this.totalPages = totalPages
          console.log(response.data)
        })
        .catch(e => {
          console.log(e)
        })
    },
    handlePageChange (value) {
      this.page = value
      this.retrieveLogs()
    },
    handlePageSizeChange (size) {
      this.pageSize = size
      this.page = 1
      this.retrieveLogs()
    },
    refreshList () {
      this.retrieveLogs()
    },
    getDisplayDiscription (log) {
      return {
        id: log.id,
        text: log.text,
        datetime: log.datetime,
        type: log.type,
        userid: log.userid,
        replyToken: log.replyToken,
        user: log.user
      }
    }
  },
  mounted () {
    this.retrieveLogs()
  }
}
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>
