<template>
  <v-row class="mx-auto" style="width: 1000px;">
    <v-col cols="12" sm="12">
      <v-card>
        <v-card-title>Question</v-card-title>
        <v-data-table
          :headers="headers"
          :items="questions"
          disable-pagination
          :hide-default-footer="true"
        >
          <template v-slot:[`item.actions`]="{item}">
            <!-- item in {} -->
            <v-btn elevation="2" @click="senduserid(item.displayname,item.userid)">Logs</v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-col>

    <v-col cols="12" sm="12">
      <v-pagination
        v-model="page"
        :length="totalPages"
        total-visible="7"
        next-icon="mdi-menu-right"
        prev-icon="mdi-menu-left"
        @input="handlePageChange"
      ></v-pagination>
    </v-col>
  </v-row>
</template>

<script>
import QuestionDataService from '../services/QuestionDataService'

export default {
  name: 'questions',
  data () {
    return {
      searchUserID: '',
      headers: [
        { text: 'question', align: 'start', sortable: false, value: 'question', width: '500' },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      questions: [],
      page: 1,
      totalPages: 0,
      pageSize: 15,
      lineid:''
    }
  },

  methods: {
    getRequestParams (userid, page, pageSize) {
      let params = {}
      if (userid) {
        params['userid'] = userid
      }
      if (page) {
        params['page'] = page - 1
      }
      if (pageSize) {
        params['size'] = pageSize
      }
      return params
    },
    retrieveQuestion () {
      const params = this.getRequestParams(
        this.userid,
        this.page,
        this.pageSize
      )
      QuestionDataService.getAll(params)
        .then(response => {
          const { questions, totalPages } = response.data
          this.questions = questions.map(this.getDisplayQuestion)
          this.totalPages = totalPages
          console.log(response.data)
          console.log(localStorage.getItem('lineid'))
        })
        .catch(e => {
          console.log(e)
        })
    },
    functionreload(){
      this.$router.push('questiondescription')
    }
    ,
    senduserid(value1,value2){
      localStorage.removeItem('lineid')
      localStorage.removeItem('userid')
      localStorage.setItem('lineid', value1)
      localStorage.setItem('userid', value2)
      console.log(localStorage.getItem('lineid'))
      this.functionreload()
      
      
    },
    handlePageChange (value) {
      this.page = value
      this.retrieveQuestion()
    },
    handlePageSizeChange (size) {
      this.pageSize = size
      this.page = 1
      this.retrieveQuestion()
    },
    refreshList () {
      this.retrieveQuestion()
    },
    getDisplayQuestion(question) {
      return {
        userid: question.text,
        displayname: question.idquestion,
        question: question.question
      }
    }
  },
  mounted () {
    this.retrieveQuestion()
  }
}
</script>

<style>
.list {
  max-width: 750px;
}
</style>
