<template>
  <v-row class="mx-auto" style="width: 1000px;">
    <v-col cols="12" sm="12">
      <v-card>
        <v-card-title></v-card-title>
        <v-btn class="float-right" elevation="2" to="/question">Back</v-btn>
        <v-data-table
          :headers="headers"
          :items="results"
          disable-pagination
          :hide-default-footer="true"
        >
        </v-data-table>
      </v-card>
    </v-col>

    <v-col cols="12" sm="12">
      <v-pagination
        v-model="page"
        :length="totalPages"
        total-visible="7"
        next-icon="mdi-menu-right"
        prev-icon="mdi-menu-left"
        @input="handlePageChange"
      ></v-pagination>
    </v-col>
  </v-row>
</template>

<script>
import ResultsQuestionDataService from '../services/ResultsQuestionDataService'

export default {
  name: 'questions',
  data () {
    return {
      searchUserID: '',
      headers: [
        { text: 'question', align: 'start', sortable: false, value: 'question', width: '500' },
        { text: 'text', value: 'userid', sortable: false }
      ],
      results: [],
      page: 1,
      totalPages: 0,
      pageSize: 15,
      lineid:''
    }
  },

 methods: {
    getRequestParams (idquestion,page, pageSize) {
      let params = {}
      if (idquestion) {
        params['idquestion'] = idquestion
      }
      if (page) {
        params['page'] = page - 1
      }
      if (pageSize) {
        params['size'] = pageSize
      }
      return params
    },
    retrieveResult () {
      const idquestion = localStorage.getItem('lineid')
      const params = this.getRequestParams(
        idquestion,
        this.page,
        this.pageSize,
        
      )
      console.log(idquestion)
      ResultsQuestionDataService.getAll(params)
        .then(response => {
          const { results, totalPages } = response.data
          this.results = results.map(this.getDisplayDiscription)
          this.totalPages = totalPages
          console.log(response.data)
        })
        .catch(e => {
          console.log(e)
        })
    },
    handlePageChange (value) {
      this.page = value
      this.retrieveResult()
    },
    handlePageSizeChange (size) {
      this.pageSize = size
      this.page = 1
      this.retrieveResult()
    },
    refreshList () {
      this.retrieveResult()
    },
    getDisplayDiscription (result) {
      return {
        userid: result.text,
        idquestion: result.idquestion,
        question: result.question
      }
    }
  },
  mounted () {
    this.retrieveResult()
  }
}
</script>

<style>
.list {
  max-width: 750px;
}
</style>
