.section-container {
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    .signin {
      padding: 0;
      margin: 0 auto;
      min-height: 600px;
      min-width: 1000px;
      .left {
        padding: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #666060;
        background-color: #f9f9f9;
      }
      .right {
        padding: 50px;
        box-sizing: border-box;
        background: #0f0f0f;
        color: #fff;
        h2 {
          text-align: center;
          margin: 30px 0;
        }
        .signin-btn {
          width: 100%;
          color: #101111;
        }
      }
    }
  }
